body{margin: 0;
}
.patrat{
    width: 100%;
    height: 10000px;
    background-color: #24252A;
    background-image: url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png"),
                      url("/uno/Picture25.png"),url("/uno/Picture26.png"),url("/uno/Picture27.png"),
                      url("/uno/Picture28.png"),url("/uno/Picture29.png"),url("/uno/Picture30.png"),
                      url("/uno/Picture1.png"),url("/uno/Picture2.png"),url("/uno/Picture3.png"),
                      url("/uno/Picture4.png"),url("/uno/Picture5.png"),url("/uno/Picture6.png"),
                      url("/uno/Picture7.png"),url("/uno/Picture8.png"),url("/uno/Picture9.png"),
                      url("/uno/Picture10.png"),url("/uno/Picture11.png"),url("/uno/Picture12.png"),
                      url("/uno/Picture13.png"),url("/uno/Picture14.png"),url("/uno/Picture15.png"),
                      url("/uno/Picture16.png"),url("/uno/Picture17.png"),url("/uno/Picture18.png"),
                      url("/uno/Picture19.png"),url("/uno/Picture20.png"),url("/uno/Picture21.png"),
                      url("/uno/Picture22.png"),url("/uno/Pictur23.png"),url("/uno/Picture24.png");
    background-size: 50px ;
    background-repeat: no-repeat;
    background-position:80px 80px, 120px 80px, 160px 80px, 80px 150px, 80px 220px, 80px 290px,80px 360px, 120px 220px, 160px 220px, 120px 360px, 160px 360px,
    280px 80px, 280px 150px,280px 220px, 290px 290px, 330px 360px, 370px 360px, 410px 360px,450px 290px, 460px 230px, 460px 160px, 460px 80px,
    900px 80px, 860px 80px, 820px 90px, 780px 110px, 750px 140px, 750px 190px, 780px 210px, 820px 220px, 860px 240px, 860px 290px, 830px 330px, 790px 350px, 750px 360px, 
    1000px 80px, 1000px 150px, 1000px 220px, 1010px 290px, 1050px 360px, 1090px 360px, 1130px 360px,1170px 290px, 1180px 230px, 1180px 160px, 1180px 80px, 
    1300px 80px, 1300px 150px, 1300px 220px, 1300px 290px, 1300px 360px, 1340px 90px, 1380px 120px, 1380px 150px, 1420px 210px, 1460px 280px, 1500px 350px,1530px 80px, 1530px 140px, 1530px 210px, 1530px 290px, 1530px 360px,
    1650px 80px, 1690px 80px, 1730px 80px, 1770px 80px, 1810px 80px, 1850px 80px, 1890px 80px, 1770px 150px, 1770px 220px, 1770px 290px, 1770px 360px,
    2400px 80px, 2360px 80px, 2320px 80px, 2280px 80px, 2230px 140px, 2230px 210px, 2230px 280px, 2280px 350px, 2320px 350px, 2360px 350px, 2360px 350px, 2400px 350px,
    2550px 80px, 2630px 80px, 2590px 80px, 2550px 150px, 2550px 220px, 2550px 290px,2550px 360px, 2590px 220px, 2630px 220px, 2590px 360px, 2630px 360px,
    2750px 80px, 2750px 150px, 2750px 220px, 2750px 290px, 2750px 360px, 2790px 360px,2830px 360px, 2870px 360px,
    3200px 80px, 3200px 150px, 3200px 220px, 3200px 220px, 3200px 290px, 3200px 360px, 3240px 90px, 3280px 120px, 3320px 150px, 3340px 150px, 3360px 120px, 3400px 90px,3440px 80px, 3440px 150px, 3440px 220px, 3440px 290px, 3440px 360px,
    3700px 80px, 3680px 150px, 3660px 220px, 3640px 290px, 3620px 360px, 3720px 80px, 3740px 150px, 3760px 220px, 3780px 290px, 3800px 360px, 3670px 290px,3690px 290px, 3710px 290px, 3750px 290px, 3810px 290px, 3610px 290px,
    4000px 80px, 4000px 220px, 4000px 290px, 4000px 360px, 3720px 80px, 3740px 150px, 3760px 220px, 3780px 290px, 3800px 360px, 3670px 290px,3690px 290px, 3710px 290px, 3750px 290px, 3810px 290px, 3610px 290px,
    4500px 80px, 4460px 80px, 4420px 80px, 4380px 80px, 4340px 140px, 4340px 210px, 4340px 280px, 4380px 350px, 4420px 350px, 4460px 350px, 4500px 350px,
    4650px 80px, 4650px 150px, 4650px 220px, 4650px 220px,  4650px 290px, 4650px 360px, 4690px 80px, 4730px 80px, 4770px 80px, 4790px 90px, 4800px 120px, 4800px 140px,4790px 160px, 4770px 180px, 4750px 200px, 4710px 210px, 4690px 260px,4720px 290px, 4750px 310px, 4770px 330px, 4790px 360px,
    4950px 80px, 4950px 150px, 4950px 220px, 4960px 290px, 5000px 360px, 5040px 360px, 5040px 360px, 5080px 360px,5120px 290px, 5130px 230px, 5130px 160px, 5130px 80px,
    5250px 80px, 5290px 80px, 5330px 80px, 5370px 80px, 5410px 80px, 5460px 80px, 5500px 80px, 5370px 150px, 5370px 220px, 5370px 290px, 5370px 360px,
    5850px 80px, 5810px 80px, 5770px 80px, 5730px 80px, 5700px 140px, 5700px 210px, 5700px 280px, 5730px 350px, 5770px 350px, 5810px 350px, 5850px 350px, 5890px 290px,5890px 220px,5890px 150px,
    6100px 80px, 6100px 220px, 6100px 290px, 6100px 360px,
    1300px 600px, 1300px 740px, 1300px 810px, 1300px 880px,
    1450px 600px, 1490px 600px, 1530px 600px, 1570px 600px, 1610px 600px, 1650px 600px, 1690px 600px, 1570px 670px, 1570px 740px, 1570px 810px, 1570px 880px,
    1770px 780px, 1810px 780px, 1850px 780px, 1890px 780px, 1930px 780px, 1970px 780px, 2010px 780px,2050px 780px, 2090px 780px, 1690px 600px, 1570px 670px, 1570px 740px, 1570px 810px, 1570px 880px,
    2400px 600px, 2360px 600px, 2320px 610px, 2280px 630px, 2250px 660px, 2250px 710px, 2280px 730px, 2320px 740px, 2360px 760px, 2360px 810px, 2330px 850px, 2290px 870px, 2250px 880px,
    2320px 1000px, 2310px 1030px, 2290px 1050px,
    2550px 600px, 2550px 670px, 2550px 740px, 2550px 810px, 2550px 880px, 2590px 610px, 2630px 640px, 2650px 670px, 2670px 730px, 2710px 800px, 2750px 870px,2780px 880px, 2780px 810px, 2780px 740px, 2780px 670px, 2780px 600px,
    2950px 600px, 2950px 740px, 2950px 810px, 2950px 880px,
    3300px 600px, 3260px 600px, 3220px 600px, 3180px 600px, 3130px 660px, 3130px 730px, 3130px 800px, 3180px 870px, 3220px 870px, 3260px 870px, 3260px 870px, 3300px 870px;

    /* 2400 80 */





}